<%- include("partials/header") -%>
<h1>Home</h1>
<p><%=homeText%></p>
<% for(let i=0;i<newPost.length;i++){ %>
<h3><%=newPost[i].title%></h3>
<p></p><%=newPost[i].content%></p>
<%}%>
<%- include("partials/footer") -%>
